<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" parallel="tests" thread-count="1">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="0123456789ABCDEF">
        <parameter name="udid" value="0123456789ABCDEF"/>
        <parameter name="port" value="4723"/>
        <classes>
            <class name="cn.crazy.appium.page.welink.MainActivityTest"/>
        </classes>
    </test>
</suite>
